// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files. Setting
// variables before Quasar's Stylus will use these variables rather than
// Quasar's default Stylus variable values. Stylus variables specific
// to the themes belong in either the variables.ios.styl or variables.mat.styl files.

// Check documentation for full list of Quasar variables


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding.

// color scheme:
// https://color.adobe.com/pt/Tema-de-Color-3-color-theme-11181846/
$primary   = #F21B42
$secondary = #1E2640
$tertiary  = #F2B705

$neutral   = #E0E1E2
$positive  = #38C152
$negative  = #E9042B
$info      = #2789DB
$warning   = #F2631D

$dark      = #011C26
$faded     = #777
$white     = #fff
$light     = #bdbdbd
$gray      = #999
$gray-dark = #666
$black     = #111

:root {
  --primary: #F21B42;
  --secondary: #1E2640;
  --tertiary: #F2B705;
  
  --neutral: #E0E1E2;
  --positive: #38C152;
  --negative: #E9042B;
  --info: #2789DB;
  --warning: #F2631D;
  
  --dark: #011C26;
  --faded: #777;
  --white: #fff;
  --light: #bdbdbd;
  --gray: #999;
  --gray-dark: #666;
  --black: #111;
}
