<template>
    <q-page :padding="true" class="flex flex-center">
        <div class="column">
            <div>
                <h5 class="page-title q-mb-none">Login</h5>
                <br>
                <p class="q-mt-none q-mb-none">Digite seus dados de acesso ao sistema</p>
                <br>
                <form>
                    <q-field
                        orientation="vertical"
                        inset="label"
                        label="E-mail"
                        helper=""
                        :error="$v.form.email.$dirty && $v.form.email.$error"
                        error-label="Digite um e-mail válido"
                    >
                        <q-input 
                            type="email" 
                            v-model="form.email"
                            @blur="$v.form.email.$touch"
                            clearable
                            v-on:keyup.enter="login"
                        />
                    </q-field>
                    <q-field
                        orientation="vertical"
                        inset="label"
                        label="Senha"
                        helper=""
                        :error="$v.form.senha.$dirty && $v.form.senha.$error"
                        error-label="Digite uma senha entre 6 e 20 caracteres"
                    >
                        <q-input type="password" 
                            v-model="form.senha"
                            @blur="$v.form.senha.$touch"
                            clearable
                            v-on:keyup.enter="login"
                        />
                    </q-field>
                    <q-field class="q-mt-lg">
                        <q-btn 
                            label="Entrar" 
                            icon="fa fa-sign-in-alt" 
                            color="dark" 
                            @click="login"
                            :disable="!validForm"
                        />
                    </q-field>
                </form>
                <br>
                <br>
                <q-alert color="info">
                  Utilize as seguintes credenciais: <br>
                  <strong>E-mail</strong>: admin@example.com<br>
                  <strong>Senha</strong>: 123465
                </q-alert>
                <br>
                <br>
            </div>
        </div>
    </q-page>
</template>

<script>
    import { validationMixin } from 'vuelidate'
    import { required, email, minLength, maxLength } from 'vuelidate/lib/validators'
    import { $token } from '../../services/http.js'

    export default {
        name: 'PgLogin',
        mixins: [validationMixin],
        validations: {
            form: {
                email: { required, email },
                senha: { 
                    required,
                    minLength: minLength(6),
                    maxLength: maxLength(20)
                }
            }
        },
        computed: {
            validForm () {
                return this.$v.form.$dirty && !this.$v.form.$error
            }
        },
        data () {
            return {
                form: {
                    senha: '',
                    email: ''
                }
            }
        },
        created () {
            this.$store.dispatch('layout/setBannerShow', false)
            if (this.$auth.check()) {
                this.loggedIn()
            }
        },
        destroyed () {
            this.$store.dispatch('layout/setBannerShow', true)
        },
        methods: {
            formReset () {
                this.form.email = ''
                this.form.senha = ''
                this.$v.form.$reset()
            },
            loggedIn () {
                this.$router.push({name: 'dashboard'})
            },
            async login () {
                if (!this.validForm) {
                    return
                }
                this.$q.loading.show({
                  message: 'Efetuando o login...'
                })
                this.$http.post('/api/v1/oauth/token', {
                    grant_type: 'password',
                    username: this.form.email,
                    password: this.form.senha
                })
                .then((res) => {
                    let data = this.getResponseData(res)
                    if (data.dados.access_token) {
                        this.me(data.dados)
                    }
                })
                .catch((err) => {

                })
                .then(() => {
                    this.$q.loading.hide()
                    this.formReset()
                })
            },
            async me (authToken) {
                $token.updateAuthToken(authToken)
                
                this.$http.get('/api/v1/me')
                .then((res) => {
                    let data = this.getResponseData(res)
                    if (data.sucesso && data.dados && data.dados.id) {
                        this.$auth.login(data.dados, authToken)
                        this.$router.push({name: 'dashboard'})
                    } else {
                        $token.updateAuthToken({})
                    }
                })
                .catch((err) => {
                    $token.updateAuthToken({})
                })
                .then(() => {
                    this.$q.loading.hide()
                    this.formReset()
                })
            }
        }
    }
</script>
