<template>
    <q-page :padding="true">
        <div class="text-center">
            <h5 class="page-title"></h5>
        </div>
    </q-page>
</template>

<script>
    import { $token } from '../../services/http.js'

    export default {
        name: 'PgLogout',
        created () {
            this.$store.dispatch('layout/setBannerTitle', this.$store.state.app.name)
            this.$q.loading.show({
              message: 'Efetuando o logout...'
            })
            if (this.$store.state.app.auth.token.id) {
                this.revoke()
            } else {
                this.logout()
            }
        },
        methods: {
            async revoke () {
                //this.$http.delete('/api/v1/oauth/tokens/' + this.$store.state.app.auth.token.id)
                this.$http.get('/api/v1/logout')
                .then(() => {})
                .catch(() => {})
                .then(() => {
                    this.refreshToken()
                })
            },
            async refreshToken () {
                $token.start(() => {
                    this.logout()
                })
            },
            logout () {
                this.$auth.logout()
                this.$router.push({name: 'auth.login'})
            },
        },
        destroyed () {
            this.$q.loading.hide()
        }
    }
</script>
