<template>
    <q-page :padding="true">
        <div>
            <div>
                <ul>
                    <li><strong>$auth.id()</strong>: {{ $auth.id() }}</li>
                    <li><strong>$auth.nome()</strong>: {{ $auth.nome() }}</li>
                    <li><strong>$auth.email()</strong>: {{ $auth.email() }}</li>
                    <li><strong>$auth.permissoes()</strong>: {{ $auth.permissoes() }}</li>
                    <li><strong>$auth.check()</strong>: {{ $auth.check() ? 'true' : false }}</li>
                    <li><strong>$auth.perfilAdministrador()</strong>: {{ $auth.perfilAdministrador() }}</li>
                    <li><strong>$auth.permissao('perfil.administrador')</strong>: {{ $auth.permissao('perfil.administrador') ? 'true' : false }}</li>
                </ul>

                <div>
                    <q-btn :loading="button1.loading" :color="button1.color" @click="apiCheck()">
                        Verificar no servidor
                    </q-btn>
                    <div>
                        <pre>{{ response }}</pre>
                    </div>
                </div>

                <br>

                <p>
                    Resultado para a tag
                    "<strong>
                        &lt;span v-if="$auth.perfilAdministrador()"&gt;: Você é um administrador.&lt;span/&gt;
                    </strong>" :
                    <br>
                    <span v-if="$auth.perfilAdministrador()">Você é um administrador.</span>
                </p>

            </div>
        </div>
    </q-page>
</template>

<script>
    export default {
        name: 'PgPerfil',
        created () {
            this.$store.dispatch('layout/setBannerTitle', 'Perfil')
        },
        data () {
            return {
                button1: {
                    color: 'info',
                    loading: false
                },
                response: ''
            }
        },
        methods: {
            apiCheck () {
                this.button1.color = 'warning'
                this.button1.loading = true
                this.response = ''
                this.$auth.apiCheck((sucesso, dados, res) => {
                    this.button1.color = sucesso ? 'positive' : 'negative'
                    this.button1.loading = false
                    this.response = dados
                })
            }
        }
    }
</script>
