<template>
    <q-page :padding="true">
        <div>
            <h5 class="page-title">Contato</h5>
        </div>
    </q-page>
</template>

<script>
    export default {
        name: 'PgContato',
        created () {
            this.$store.dispatch('layout/setBannerTitle', 'Contato')
        }
    }
</script>
