<template>
    <q-page :padding="true">
        <h5 class="page-title">Dashboard</h5>
        <div>
            <p>
                Faça uma requisição na api do Laravel.
            </p>
            <q-btn :loading="button1.loading" :color="button1.color" @click="getResponse">
                /api/test/saved
            </q-btn>
            <q-btn class="q-ml-md" :loading="button2.loading" :color="button2.color" @click="getError">
                /api/test/error
            </q-btn>
            <q-btn class="q-ml-md" :loading="button3.loading" :color="button3.color" @click="getException">
                /api/test/exception
            </q-btn>
        </div>
        <div class="q-mt-md">
            <code>
                {{response}}
            </code>
        </div>
    </q-page>
</template>

<script>
    export default {
        name: 'PgDashboard',
        created () {
            this.$store.dispatch('layout/setBannerTitle', 'Dashboard')
        },
        data () {
            return {
                button1: {
                    color: 'info',
                    loading: false
                },
                button2: {
                    color: 'info',
                    loading: false
                },
                button3: {
                    color: 'info',
                    loading: false
                },
                response: ''
            }
        },
        methods: {
            async getResponse () {
                this.button1.loading = true
                this.button1.color = 'warning'

                let response = ''
                let data

                this.$http.post('/api/v1/test/saved')
                .then((res) => {
                    data = this.getResponseData(res)
                    response = data.dados
                }).catch((err) => {
                    data = this.getResponseData(err)
                    response = data.mensagem
                }).then(() => {
                    this.response = response
                    this.button1.color = data.sucesso ? 'positive' : 'negative'
                    this.button1.loading = false
                })
            },
            async getError () {
                this.button2.loading = true
                this.button2.color = 'warning'

                let response = ''
                let data

                this.$http.get('/api/v1/test/error')
                .then((res) => {
                    data = this.getResponseData(res)
                    response = data.dados
                }).catch((err) => {
                    data = this.getResponseData(err)
                    response = data.mensagem
                }).then(() => {
                    this.response = response
                    this.button2.color = data.sucesso ? 'positive' : 'negative'
                    this.button2.loading = false
                })
            },
            async getException () {
                this.button3.loading = true
                this.button3.color = 'warning'

                let response = ''
                let data

                this.$http.get('/api/v1/test/exception')
                .then((res) => {
                    data = this.getResponseData(res)
                    response = data.dados
                }).catch((err) => {
                    data = this.getResponseData(err)
                    response = data.mensagem
                }).then(() => {
                    this.response = response
                    this.button3.color = data.sucesso ? 'positive' : 'negative'
                    this.button3.loading = false
                })
            }
        }
    }
</script>
