<template>
    <div class="fixed-center text-center">
        <p>
            <img
            src="~assets/sad.svg"
            style="width:30vw;max-width:150px;"
            >
        </p>
        <p class="text-faded">
            Desculpe, um erro inesperado aconteceu.
        </p>
        <q-btn
        color="secondary"
        style="width:200px;"
        @click="$router.push('/')"
        >Voltar</q-btn>
    </div>
</template>
