<template>
  <q-page class="" :padding="true">
    <div>
      <pre>{{$q}}</pre>

    </div>
  </q-page>
</template>

<script>
export default {
  name: 'PgSistema',
  created () {
      this.$store.dispatch('layout/setBannerTitle', 'Sistema')
  }
}
</script>
