// app global css
body{
    overflow-y: scroll;
}

.q-mr-auto{margin-rigth: auto;}
.q-ml-auto{margin-left: auto;}
.q-m-auto{margin: auto;}

.q-toolbar{
    .q-btn .q-icon, .q-btn .q-spinner {
        /* font-size: 1.4em; */
        font-size: 1.0em;   
    }
}

.q-if-control.fas{
    font-size: 1.3em; 
}

pre{
    background-color: #f1f1f1;
    padding: 20px;
}
.page-title{
margin-top: 0;
padding-top: 0;
}
@media (min-width: 768px){
    .layout-padding {
        padding: 1.5rem 2rem;
        margin: auto;
    }
}
  
.flex-start{align-items: flex-start;}

.bg-with-overlay::after {
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0;
}

.pointer{
    cursor: pointer;
}
.q-notification{
    margin-top: 10px;
}
.q-notification:first-child{
    margin-top: 75px;
}