<template>
    <div id="q-app">
        <router-view />
        <q-ajax-bar ref="bar" color="info" size="3px" :delay="0"/>
    </div>
</template>

<script>
    export default {
        name: 'App',
        created () {
            this.$router.beforeHooks.push((to, from, next) => {
                this.$store.dispatch('layout/setBannerTitle', '')
                this.$refs.bar.start()
                next()
            })
            this.$router.afterHooks.push(() => {
                this.$refs.bar.stop()
            })
        }
    }
</script>
