<template>
    <q-layout view="hHh Lpr fff">

        <layout-header></layout-header>

        <layout-sidebar></layout-sidebar>

        <q-page-container>
            <router-view />
        </q-page-container>

        <layout-footer></layout-footer>
        
        <q-page-sticky position="bottom-right" :offset="[18, 18]">
          <q-btn
            v-back-to-top.animate="{offset: 100, duration: 200}"
            round
            color="primary"
            icon="fa fa-chevron-up"
          />
        </q-page-sticky>
    </q-layout>
</template>

<script>
    import LayoutSidebar from './sidebar'
    import LayoutHeader from './header'
    import LayoutFooter from './footer'

    export default {
        name: 'LayoutDefault',
            components: {
                LayoutSidebar,
                LayoutHeader,
                LayoutFooter
            }
    }
</script>
