<template>
    <q-layout-footer id="rodape">
        <q-toolbar color="secondary" class="justify-center">
            <small>
                By Paulo Sakamoto
                -
                <span>
                    <em>{{ $store.state.app.env }} - {{ $store.state.app.version }}</em>
                </span>
            </small>
        </q-toolbar>
    </q-layout-footer>
</template>

<style>
    #rodape{
        .q-toolbar{
            min-height: 30px;
            padding-top: 3px;
            padding-bottom: 3px;
        }
    }
</style>

<script>
    export default {
        name: 'LayoutFooter'
    }
</script>
