<template>
    <q-layout-header id="layout-header">

        <q-toolbar color="primary" class="q-pt-sm q-pb-sm">
            <q-btn
            flat
            dense
            round
            @click="toggleLeftDrawerOpen()"
            aria-label="Menu"
            v-if="$auth.check()"
            >
                <q-icon name="fa fa-bars" />
            </q-btn>

            <q-toolbar-title shrink class="pointer">
                <span @click="routeTo({name: 'home'})">
                    {{ $store.state.app.name }}
                </span>
                <div slot="subtitle" @click="routeTo({name: 'home'})">
                    {{ $store.state.app.shortDescription }}
                </div>
            </q-toolbar-title>

            <q-search inverted placeholder="Pesquisar" v-model="s" color="none"
            class="q-ml-md gt-sm" id="layout-header-search" v-if="$auth.check()"/>

            <q-btn label="" @click="routeTo({name:'contato'})" icon="fa fa-envelope"  flat color="none" class="float-right q-mr-none q-ml-auto gt-sm"/>

            <q-btn label="" @click="routeTo({name:'auth.login'})" icon="fa fa-sign-in-alt"  flat color="none" class="float-right q-mr-none q-ml-none gt-sm" v-if="!$auth.check()"/>

            <q-btn-dropdown label="" icon="fa fa-user" color="none" flat
            class="float-right q-mr-none q-ml-auto menu-usuario" v-if="$auth.check()">
                <q-list>
                    <q-item>
                        <q-item-main class="text-right">
                            <q-item-tile>{{ $auth.nome() }}</q-item-tile>
                            <q-item-tile>
                                <small>{{ $auth.email() }}</small>
                            </q-item-tile>
                        </q-item-main>
                    </q-item>
                    <q-item-separator />
                    <q-item link :to="{name: 'auth.perfil'}">
                        <q-item-main class="text-right">
                            Meu perfil
                        </q-item-main>
                    </q-item>
                    <q-item-separator />
                    <q-item link :to="{name: 'auth.logout'}">
                        <q-item-main class="text-right">
                            Sair
                        </q-item-main>
                    </q-item>
                </q-list>
            </q-btn-dropdown>
        </q-toolbar>

        <div id="section-banner" class="text-center" v-if="$store.state.layout.bannerShow">
            <h1 class="q-mt-none q-mb-none">
                {{ $store.state.layout.bannerTitle }}
            </h1>
        </div>

    </q-layout-header>
</template>

<style>
#layout-header-search{
    width: 140px;
}
#section-banner{
    background-color: var(--secondary);
    background-size: cover;
    background-position: center center;

    min-height: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    color: var(--white);
}
#section-banner h1{font-size: 2rem;}
#section-banner h2{font-size: 1.4rem;}
#section-banner > *{
    z-index: 2;
    position: relative;
}

@media (min-width: 768px) {
    .menu-usuario{
        margin-left: 0;
    }
}

</style>

<script>
    export default {
        name: 'LayoutHeader',
        data () {
            return {
                s: ''
            }
        },
        methods: {
            toggleLeftDrawerOpen () {
                this.$store.dispatch('layout/toggleLeftDrawerOpen')
            }
        }
    }
</script>
