<template>
    <q-layout-drawer
    v-model="$store.state.layout.leftDrawerOpen"
    :content-class="$q.theme === 'mat' ? 'bg-grey-2' : null"
    id="sidebar"
    v-if="$auth.check()"
    >
        <q-list
        no-border
        link
        inset-delimiter
        >
            <q-item :to="{name: 'dashboard'}">
                <q-item-side icon="fa fa-home" />
                <q-item-main label="Dashboard" />
            </q-item>
            <q-item :to="{name: 'sobre'}" v-if="$auth.permissao('perfil.administrador')">
                <q-item-side icon="fa fa-info" />
                <q-item-main label="Sobre" />
            </q-item>
            <q-item :to="{name: 'sistema'}" v-if="$auth.perfilAdministrador()">
                <q-item-side icon="fa fa-laptop" />
                <q-item-main label="Informações" />
            </q-item>
            <q-item :to="{name: 'auth.perfil'}">
                <q-item-side icon="fa fa-user" />
                <q-item-main label="Usuário" />
            </q-item>
        </q-list>
        <slot></slot>
    </q-layout-drawer>
</template>

<style>
    #sidebar{width: 250px;}
    #sidebar .q-item-side{text-align: center;}
</style>

<script>
    export default {
        name: 'LayoutSidebar'
    }
</script>
